
* {
	cursor: none;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: black;
	font-family: georgia, serif;
}

#webcamView {
	position: absolute;
	z-index: -10;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
	-webkit-transform: rotateY(180deg) translateZ(300px);
}

#photoCarousel {
	position: absolute;
	left: 0px;
	bottom: 0px;
	right: 0px;
	margin: 0;
}

.slick-slide {
	position: relative;
	z-index: 50;
}
.slick-center {
	z-index: 100;
}
.slick-slide .photo {
	padding: 0px;
	width: 100%;
	height: 400px;
	opacity: 0.5;
	image-rendering: pixelated;
	-webkit-transform: scale(0.9);
	transition: all 300ms ease;
}
.slick-center .photo {
	opacity: 1;
	-webkit-transform: scale(2.4) translateY(-30%);
}
.slick-slide img {
	display: block;
	position: absolute;
	bottom: 0px;
	width: 100%;
	border: 5px solid #FFF;
}
.mirror {
	-webkit-transform: rotateY(180deg);	
}
.slick-slide .photoDeleteButton  {
	display: none;
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 30px;
	height: 30px;
	background-image: url(assets/delete.png);
	-webkit-background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
}
.slick-center .photoDeleteButton {
	display: block;
}

.countdownNumber {
	position: absolute;
	text-align: center;
	width: 900px;
	height: 700px;
	margin-left: -450px;
	margin-top: -350px;
	left: 50%;
	top: 50%;
	font-weight: bold;
	font-size: 500px;
	color: red;
	-webkit-text-shadow: 0px 0px 30px #000;
	text-shadow:         0px 0px 30px #000;
}

.countdownContainer {
	position: absolute;
	z-index: 500;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.toast {
	text-align: center;
	vertical-align: middle;
	padding: 5px;
	position: absolute;
	z-index: 700;
	left: 50px;
	right: 50px;
	height: 30px;
	bottom: 150px;
	background: #444;
	color: #fff;
	font-weight: bold;
}

.countdownFlash {
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-play-state: paused;
}

@-webkit-keyframes countdownFlash {
    0%   {background: white; opacity: 0}
    10%  {background: white; opacity: 1;}
    98%  {background: white; opacity: 0;}
    99%  {background: transparent; opacity: 0;}
    100% {background: transparent; opacity: 1;}
}

button {
	padding: 10px;
}

#takePhotoButton {
	position: absolute;
	z-index: 200;
	width: 300px;
	margin-left: -150px;
	top: 30px;
	left: 50%;
	text-align: center;
	opacity: 0.7;
	border: 10px solid #72021c;
	-webkit-box-shadow: rgba(0,0,0,0.4) 5px 5px 5px;
	-webkit-border-radius: 50px;
	font-size: 40px;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	display: block;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #a90329;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a90329), to(#6d0019));
	background-image: -webkit-linear-gradient(top, #a90329, #6d0019);
}

#takePhotoButton:hover, #takePhotoButton:active {
	border: 10px solid #450111;
	background-color: #77021d;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#77021d), to(#3a000d));
	background-image: -webkit-linear-gradient(top, #77021d, #3a000d);
}

#closeButton,
#shutdownButton {
	position: absolute;
	display: block;
	top: 0px;
	width: 40px;
	height: 40px;
	border: dotted rgba(0,0,0,0.3) 2px;
	color: rgba(0,0,0,0.3);
	text-align: center;
}
#closeButton {
	left: 0px;
}
#shutdownButton {
	right: 0px;
}
