
* {
	cursor: none;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: black;
	font-family: georgia, serif;
	overflow: hidden;
}

.photo {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-size: 100% auto;
	background-position: center center;
	background-repeat: no-repeat;
}

